{% extends 'base.html.twig' %}
{% block body %}
    <body class="p-3" xmlns="http://www.w3.org/1999/html">
    <div class="card  text-center">
        <div class="card-header">
            <h1>Profile</h1>

        </div>
        <div class="card-body">
            <marquee>
                <p style="color: red; font-size: 20px;">Hello, <strong>{{ user.username }}</strong></p>
            </marquee>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            <a href="{{ path('narqd_create') }}" class="btn btn-outline-primary">Add Compensation Hours </a>
            <a href="{{ path('note_create') }}" class="btn btn-outline-primary">Add Note </a>
            <table class="table">
                <thead>
                <th>Compensation</th>
                <th>Narqd Date</th>
                <th>Action</th>
                </thead>
                {% for note in user.narqds %}
                    <tr>
                        <td> {{ note.compensationHours }}</td>
                        <td> {{ note.createdAt|date('d-m-Y') }}</td>
                        <td><a href="{{ path('narqd_update',{'id':note.id}) }}"
                               class="btn btn-outline-success">Update</a>
                            <a href="{{ path('narqd_delete',{'id':note.id}) }}" onclick="confirm('Are you sure?')"
                               class="btn btn-outline-danger">Delete</a></td>
                    </tr>
                    </tfoot>
                {% endfor %}
            {# Output sorted Months #}
            {% if sorted_months is not empty %}
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th>Year Month</th>
                        <th>Monthly Sum of Compensation Hours</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for month,hours in sorted_months %}
                        <tr>
                            <td>{{ month }}</td>
                            <td>{{ hours }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <table class="table">
                    <thead>
                    <th>Note</th>
                    <th>Creation Date</th>
                    <th>Is Completed?</th>
                    <th>Action</th>
                    </thead>
                    {% for note in user.notes %}
                        <tr>
                            <td> {{ note.note }}</td>
                            <td> {{ note.createdAt|date('Y-m-d h:m:s') }}</td>
                            <td> {{ note.isCompleted | yes_no|default(false)|raw }}</td>
                            <td><a href="{{ path('note_update',{'id':note.id}) }}"
                                   class="btn btn-outline-success">Update</a>
                                <a href="{{ path('note_update_status',{'id':note.id}) }}"
                                   class="btn btn-{{ note.isCompleted ? 'danger':'primary' }}">{{ note.isCompleted ? 'Incomplete':'Complete' }}</a>
                                <a href="{{ path('note_delete',{'id':note.id}) }}" onclick="confirm('Are you sure?')"
                                   class="btn btn-outline-danger">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
                </table>
            {% else %}
                <h6 class="mt-5">No Narqds Added yet</h6>
            {% endif %}


            <a href="{{ path('logout') }}" class="btn btn-outline-danger mt-5">Logout</a>
        </div>
    </div>
    </body>
{% endblock %}